@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-table-wrapper.ui-table-border-none .ant-table .ant-table-container {
  border: none;
}

.anticon svg {
  display: inline-block;
  color: white;
}

.ant-table-wrapper.ui-table-sm .ant-table .ant-table-content .ant-table-thead tr>th.ant-table-cell {
  font-size: 14px;
  font-weight: 700;
  border-right: none;
  background-color: #3296d9;
  color: #fff;
  font-family: 'Nunito', sans-serif;
  padding: 6px 8px;
}

.ant-table-wrapper.ui-table-sm .ant-table .ant-table-content .ant-table-tbody tr>td.ant-table-cell {
  font-size: 14px;
  font-family: 'Nunito', sans-serif;
  border-right: none;
  padding: 6px 8px;
}